# Java compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Maven / Spring Boot
target/

# Eclipse
.classpath
.project
.settings/
bin/

# macOS
.DS_Store

# Eclipse Servers (自動生成されるTomcat設定)
.metadata/
Servers/.project
Servers/.settings/org.eclipse.core.resources.prefs
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat10_Java17-config/*
Servers/Tomcat10_Java21-config/*
Servers/Tomcat8_Java8-config/*
Servers/Tomcat9_Java11-config/*
Servers/Tomcat9_Java17-config/*