<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.practiceapp.mapper.UserCafesMapper">

	<!-- ===== resultMap 定義 ===== -->
	<!-- SQLの1行を WantUserCafeListDto オブジェクトにどう詰めるかを定義 -->
	<resultMap id="wantUserCafeListMap"
		type="com.example.practiceapp.dto.WantUserCafeListDto">
		<!-- 店名（スネークケース → キャメルケースで設定） -->
		<result property="storeName" column="store_name" />
		<!-- 住所 -->
		<result property="address" column="address" />
		<!-- エリア名（スネークケース → キャメルケースで設定） -->
		<result property="areaName" column="area_name" />
		<!-- ジャンル名（スネークケース → キャメルケースで設定） -->
		<result property="genreName" column="genre_name" />
		<!-- ステータス -->
		<result property="status" column="status" />
		<!-- メモ -->
		<result property="memo" column="memo" />
	</resultMap>


	<!-- ===== SELECT ===== -->
	<!-- 共通SQLの部品化 カフェリスト取得 -->
	<sql id="baseSelect">
		SELECT
			  store_name
			, address
			, area_name
			, g.genre_name
			, c.status
			, c.memo
		FROM
			user_cafes
			INNER JOIN cafes_area a　ON c.fk_area_code = a.pk_area_code
			INNER JOIN cafes_genre g　ON c.fk_genre_code = g.pk_genre_code
	</sql>
	<!-- 共通SQLの部品化 引数オブジェクトの userPk 指定のユーザーの一覧を取得 -->
	<sql id="userPkCondition">
		AND c.fk_user_id = #{userPk}
	</sql>

	<!-- 全件取得用 SELECT -->
	<select id="findWantCafesByUserId"
		resultMap="wantUserCafeListMap">
		<!-- 共通化SQL部品を使用　カフェリスト取得 -->
		<include refid="baseSelect" />

		<where>
			<!-- 共通化SQL部品を使用　引数オブジェクトの userPk 指定のユーザーの一覧を取得 -->
			<include refid="userPkCondition" />
		</where>
	</select>


	<!-- 条件付きリスト取得用 SELECT文 -->
	<select id="findWantCafesByUserIdAndCondition"
		resultMap="wantUserCafeListMap">
		<!-- 共通化したSQL部品を使用 -->
		<include refid="baseSelect" />

		<where>
			<!-- 共通化SQL部品を使用　引数オブジェクトの userPk 指定のユーザーの一覧を取得 -->
			<include refid="userPkCondition" />

			<!-- 引数オブジェクトの areaCode が null でも、空文字でもない場合 検索条件に追加 -->
			<if test="condition.areaCode != null and condition.areaCode != ''">
				AND c.fk_area_code = #{condition.areaCode}
			</if>
			<!-- 引数オブジェクトの genreCode が null でも、空文字でもない場合 検索条件に追加 -->
			<if
				test="condition.genreCode != null and condition.genreCode != ''">
				AND c.fk_genre_code = #{condition.genreCode}
			</if>
		</where>
	</select>

	<!-- <insert id="register" parameterType="com.example.practiceapp.entity.UserInfo"> 
		</insert> -->

	<!-- <update id="" parameterType=""> </update> -->

	<!-- <delete id="" parameterType=""> </delete> -->

</mapper>