<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザートップ</title>
</head>

<!-- ユーザートップ画面template -->

<body>
	<h2 th:text="'ようこそ ' + ${userName} + ' さん'">ようこそ 未設定さん</h2>
	<h3>メニュー</h3>
	<ul class="user_menu">
		<!-- エラーがある場合 メッセージをcontrollerから受け取り表示 -->
		<p th:text="${errorMsg}"></p>

		<li><a href="/user/mypage">マイページ</a></li>
		<li><a href="/user/ikitaitoko">行きたいとこリスト</a></li>
		<li><a href="/user/ittatoko">過去行ったカフェリスト</a></li>
		<li><a href="/user/logout">ログアウト</a></li>
	</ul>
</body>

</html>