<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザートップ</title>
</head>

<!-- ユーザートップ画面template -->

<body>
	<h2 th:text="'ようこそ ' + ${userName} + ' さん'">ようこそ 未設定さん</h2>
	<!-- エラーがある場合 メッセージをcontrollerから受け取り表示 -->
	<p th:text="${errorMsg}"></p>
	
	<h3>メニュー</h3>
	<ul class="user_menu">
		<li><a th:href="@{/user/mypage}">マイページ</a></li>
		<li><a th:href="@{/user/want-to-go-cafes}">行きたいカフェリスト</a></li>
		<li><a th:href="@{/user/{userId}/visited-cafes(userId=${userId})}">過去に行ったカフェリスト</a></li>
		<li><a th:href="@{/user/logout}">ログアウト</a></li>
	</ul>
</body>

</html>