<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>行きたいカフェリスト</title>
	<!-- style -->
	<link rel="stylesheet" th:href="@{/css/cafes-list.css}">
</head>

<!-- 行きたいカフェリスト画面template -->

<body>
	<h2>行きたいカフェリスト</h2>
	<!-- エラーがある場合 メッセージをcontrollerから受け取り表示 -->
	<p th:if="${errorMsg}" th:text="${errorMsg}" class="error"></p>

	<!-- フィルターエリア -->
	<div class="filter-area">
		<form>
			<label>ジャンル：</label>
			<select>
				<option value="">-- 全て --</option>
				<option value="1">カフェ</option>
				<option value="2">喫茶店</option>
				<option value="3">コーヒー専門店</option>
			</select>

			<label>エリア：</label>
			<select>
				<option value="">-- 全て --</option>
				<option value="1">渋谷</option>
				<option value="2">新宿</option>
				<option value="3">池袋</option>
			</select>

			<label>キーワード：</label>
			<input type="text" placeholder="店名など">

			<button class="btn" type="submit">検索</button>
		</form>
	</div>

	<!-- 新規登録画面へ遷移 -->
	<br>
	<a th:href="@{/register}" class="new-registration-btn">新規登録</a>
	<br>

	<!-- カフェ一覧 -->
	<table>
		<thead>
			<tr>
				<th>店名</th>
				<th>住所</th>
				<th>エリア名</th>
				<th>ジャンル名</th>
				<th>ステータス</th>
				<th>メモ</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cafes : ${wantUserCafes}">
				<td th:text="${cafes.storeName}">店名</td>
				<td th:text="${cafes.address}">住所</td>
				<td th:text="${cafes.areaName}">エリア名</td>
				<td th:text="${cafes.genreName}">ジャンル名</td>
				<td th:text="${cafes.status}">ステータス</td>
				<td th:text="${cafes.memo}">メモ</td>
				<td>
					<a href="#">詳細</a> |
					<a href="#">削除</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>

</html>